$img_path: '../images/';

body {
  background: url(#{$img_path}bg/light_alu.png) repeat;

  .error {
    color: red;
  }
  .header {
    margin: 0 10px;
    ul.nav {
      padding: 0;
      list-style-type: none;
      li {
        margin: 10px 0 20px;
        float: left;
        a {
          display: block;
          background: rgb(110, 117, 145);
          color: white;
          font-size: 110%;
          padding: 5px 16px;
          text-decoration: none;
          &:hover {
            background: rgb(144, 152, 161);
          }
        }
        &:first-child a {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        &:last-child a {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }

  .main {
    clear: both;
    margin: 0 10px;
    .bookmark-search {
      .bookmark-search-form {
        padding: 6px 15px 6px 30px;
        border-radius: 15px;
        border: 1px solid rgb(172, 177, 183);
        background: white url(#{$img_path}/icon/search-01.svg) no-repeat 8px 6px;
        background-size: 15px;
      }
    }
    ul.wiki-page-list {
      border-radius: 4px;
      list-style-type: none;
      padding: 0;
      max-width: 500px;
      li {
        display: table;
        width: 100%;
        a {
          background-color: rgba(208, 207, 210, 0.5);
          display: table-cell;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          color: black;
          padding: 6px 13px;
          font-size: 105%;
          text-decoration: none;
          img.icon {
            margin-right: -5px;
            height: 1.2em;
            float: right;
            opacity: 0;
          }
          &:hover {
            background-color: rgba(144, 152, 161, 0.5);
            img.icon {
              opacity: 1;
            }
          }
        }
        .action-button {
          width: 30px;
          display: table-cell;
          padding: 0 8px;
          .icon {
            cursor: pointer;
            width: 16px;
            height: 16px;
          }
        }
        &:first-child a {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
        &:last-child a {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
    .refresh-wiki-page {
      clear: both;
      button {
        padding: 4px 14px;
      }
    }
    .back-previous-page,
    .bookmark-page {
      a, .wiki-page-bookmarked {
        text-align: center;
        color: black;
        width: 200px;
        margin: 0 10px 0 0;
        padding: 5px 10px;
        border-radius: 4px;
        float: left;
        .icon {
          height: 1.15em;
          margin-right: 4px;
        }
        * {
          vertical-align: middle;
        }
      }
      a {
        background-color: rgb(208, 207, 210);
        cursor: pointer;
        text-decoration: none;
        &:hover {
          background-color: rgb(144, 152, 161);
        }
      }
      .wiki-page-bookmarked {
        background-color: rgb(96, 195, 88);
      }
    }
    .wiki-page-detail {
      h2 {
        padding: 0;
      }
      .wiki-page-image {
        ul {
          list-style-type: none;
          padding: 0;
          li {
            float: left;
          }
        }
        img {
          width: 150px;
          height: 150px;
        }
      }
      .wiki-page-category {
        clear: both;
        margin: 30px 0;
      }
    }
  }
}
